// Main color selection: 
$color-light: #C1C8E4; 
$color-light-cyan: #84CEEB;
$color-light-blue: #5AB9EA;
$color-darker-blue: #5680E9;
$color-purple: #8860D0; 
$color-white: #ffffff;
$color-dark-grey: #24292e;
$color-lighter-grey: #41464a;