// Main color selection: 
 
$color-white: #ffffff;
$color-dark-grey: #24292e;
$color-lighter-grey: #41464a;
$color-black: #000000;
$color-vanilla-white:#F3E5AB;

// Social Media Logo Colors:
$color-facebook: #4267B2;
$color-facebook-hover: #627db5;
$color-x: #14171A;
$color-x-hover: #2f2f30;
$color-Google: #DB4437;
$color-Google-hover: #dd6e65;
