<section class="landingpage_section">
    <div class="container">
        <h1 class="landing_title">Discover True Luxury</h1>
        <a href="@Url.Action("Index", "RoomsAndSuits")" class="btn-primary btn landingbutton">Book Now</a>
        <a href="@Url.Action("Index", "Contact")" class="btn-primary btn landingbutton">Contact Us</a>
    </div>
</section>