
@{
}

<div class="container">
    <div class="hotel_info">
        <h1> <i class="fa-solid fa-phone-volume"></i>00-123-45-67</h1>
        <h1><i class="fa-solid fa-envelope"></i>info@hotelname.com</h1>
        <h1 class="footer_rights">All Rights Reserved. @DateTime.Now.Year</h1>
    </div>
    <!-- forsätt här imorn -->

</div>
