@{
}
<!-- Header Menu-->
<section class="navbar_section">
    <div class="container">
        <h1>Dont Flip it</></h1>
        <!-- Header links-->
        <div class="navbar_links">
            <a href="#" class="navlink">Home</a>
            <a href="#" class="navlink">About</a>
            <a href="#" class="navlink">Contact</a>
            <a href="@Url.Action("Index", "Authentication")" class="navlink">Login</a>
        </div>
    </div>
</section>