.navbar_section {
    background-color: $color-dark-grey;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .navbar_title {
            color: $color-white;
        }


        h1 {
            font-size: 20px;
            padding-top: 5px;
        }

        .navbar_links {
            .navlink {
                position: relative;
                text-decoration: none;
                color: $color-white;
                margin-right:10px;
            }

            .navlink::before {
                content: '';
                position: absolute;
                bottom: -2px;
                left: 0;
                width: 0;
                height: 2px;
                background-color: $color-vanilla-white;
                transition: width 0.3s ease;
            }

            .navlink:hover::before {
             
                width: 100%;
            }
        }
    }
}
