.navbar_section {
    background-color: $color-dark-grey;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .navbar_title {
            color: $color-white;
        }


        h1 {
            font-size: 20px;
            padding-top: 5px;
        }

        .navbar_links {
            .navlink {
                color: $color-white;
                text-decoration: none;
                padding-right: 20px;

                &:hover {
                    color:$color-vanilla-white;
                    text-decoration: underline;
                    text-underline-offset: 8px;
                    transition:all 0.2s ease-in-out;
                }
            }
        }
    }
}
