
@{
}
<section class="restaurant_section">
    <div class="container">
        <div class="leftside">
            <h2>Eat at Our michelin<br /> Restaurant</h2>
            <button class="btn-primary btn">Book Table</button>
            <button class="btn-primary btn">See Menu</button>
        </div>
        <div class="rightside">
            
        </div>
    </div>
</section>