
@{
}
<section class="contact_section">
    <div class="container form-container">
        <h1>Contact Us</h1>
        <p>Thank you for considering [Hotel Name] for your stay. Please feel free to contact us using the form below for any inquiries or assistance you may need. We'll respond to your message as soon as possible.</p>
        <form method="post" novalidate>
            <div class="form-floating">
                <input type="Email" class="form-control" id="floatingPassword" placeholder="Email..">
                <label for="floatingPassword">Email</label>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Your Message</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </form>
        <button class="btn-primary btn">Send</button>
    </div>
</section>