
@{
}

<!--make a loop of every room avaibly in the database isntead of static cards. -->
<section class="rooms_suits_section">
    <h1>Rooms & Suits</h1>
    <div class="container">
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="/Images/pexels-pixabay-262048.jpg" class="card-img-top" alt="...">
                        <h5 class="card-title">Deluxe Room</h5>
                        <div class="card-body">
                            <div class="leftside">
                                <p class="card-text"><i class="fa-solid fa-bed"></i>King Size</p>
                                <p class="card-text"><i class="fa-solid fa-wifi"></i>Wifi</p>
                            </div>
                            <div class="rightside">
                                <p class="card-text"><i class="fa-solid fa-water"></i>Seaview</p>
                                <p class="card-text"><i class="fa-solid fa-martini-glass-empty"></i>Minibar</p>
                            </div>      
                        </div>
                        <p class="card-text">Price:$4000 per week</p>
                        <a href="#" class="btn btn-primary">Book Now</a>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="/Images/pexels-pixabay-262048.jpg" class="card-img-top" alt="...">
                        <h5 class="card-title">Executive Suite</h5>
                        <div class="card-body">
                            <div class="leftside">
                                <p class="card-text"><i class="fa-solid fa-bed"></i>King Size</p>
                                <p class="card-text"><i class="fa-solid fa-wifi"></i>Wifi</p>
                            </div>
                            <div class="rightside">
                                <p class="card-text"><i class="fa-solid fa-water"></i>Seaview</p>
                                <p class="card-text"><i class="fa-solid fa-martini-glass-empty"></i>Minibar</p>
                            </div>
                        </div>
                        <p class="card-text">Price:$4000 per week</p>
                        <a href="#" class="btn btn-primary">Book Now</a>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="/Images/pexels-pixabay-262048.jpg" class="card-img-top" alt="...">
                        <h5 class="card-title">Family Room</h5>
                        <div class="card-body">
                            <div class="leftside">
                                <p class="card-text"><i class="fa-solid fa-bed"></i>King Size</p>
                                <p class="card-text"><i class="fa-solid fa-wifi"></i>Wifi</p>
                            </div>
                            <div class="rightside">
                                <p class="card-text"><i class="fa-solid fa-water"></i>Seaview</p>
                                <p class="card-text"><i class="fa-solid fa-martini-glass-empty"></i>Minibar</p>
                            </div>
                        </div>
                        <p class="card-text">Price:$4000 per week</p>
                        <a href="#" class="btn btn-primary">Book Now</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="/Images/pexels-pixabay-262048.jpg" class="card-img-top" alt="...">
                        <h5 class="card-title">Ocean View Room</h5>
                        <div class="card-body">
                            <div class="leftside">
                                <p class="card-text"><i class="fa-solid fa-bed"></i>King Size</p>
                                <p class="card-text"><i class="fa-solid fa-wifi"></i>Wifi</p>
                            </div>
                            <div class="rightside">
                                <p class="card-text"><i class="fa-solid fa-water"></i>Seaview</p>
                                <p class="card-text"><i class="fa-solid fa-martini-glass-empty"></i>Minibar</p>
                            </div>
                        </div>
                        <p class="card-text">Price:$4000 per week</p>
                        <a href="#" class="btn btn-primary">Book Now</a>
                    </div>
                </div>
                              <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="/Images/pexels-pixabay-262048.jpg" class="card-img-top" alt="...">
                        <h5 class="card-title">Romantic Retreat</h5>
                        <div class="card-body">
                            <div class="leftside">
                                <p class="card-text"><i class="fa-solid fa-bed"></i>King Size</p>
                                <p class="card-text"><i class="fa-solid fa-wifi"></i>Wifi</p>
                            </div>
                            <div class="rightside">
                                <p class="card-text"><i class="fa-solid fa-water"></i>Seaview</p>
                                <p class="card-text"><i class="fa-solid fa-martini-glass-empty"></i>Minibar</p>
                            </div>      
                        </div>
                        <p class="card-text">Price:$4000 per week</p>
                        <a href="#" class="btn btn-primary">Book Now</a>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="/Images/pexels-pixabay-262048.jpg" class="card-img-top" alt="...">
                        <h5 class="card-title">Honeymoon Suite</h5>
                        <div class="card-body">
                            <div class="leftside">
                                <p class="card-text"><i class="fa-solid fa-bed"></i>King Size</p>
                                <p class="card-text"><i class="fa-solid fa-wifi"></i>Wifi</p>
                            </div>
                            <div class="rightside">
                                <p class="card-text"><i class="fa-solid fa-water"></i>Seaview</p>
                                <p class="card-text"><i class="fa-solid fa-martini-glass-empty"></i>Minibar</p>
                            </div>
                        </div>
                        <p class="card-text">Price:$4000 per week</p>
                        <a href="#" class="btn btn-primary">Book Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>